html{
  color: rgb(244, 244, 181);
  background-color:#0c0211;
  margin: 0;
}
body{
  margin: 0;
}
header{
  background-color: #1e1e1e;
  background-image: url(./res/node_background.png);
  color: #adadad;
  margin-bottom:80px;
}
h1{
  margin: 0;
  padding: 4px;
  text-align: center;
  font-size: 40px;
}
header h2{
  margin: 3px;
  padding-bottom: 30px;
  text-align: center;
}
h2{
   text-align: center;
   font-size: 32px;
}
p{
  font-size: 24px;
}
#about-me{
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  align-items: center;
  
}
#about-me-info{
  padding: 0 10px 0 10px;
  width:60%;
}

#my-picture img{
  width:200px;
  height: 200px;
  object-fit: cover;
  object-position: center 15%;
  border-radius: 50%;
  
}
#skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 80px;
}
.skill-box{
  display:flex;
  flex-flow: column;
  padding:20px;
  width: 300px;
  text-align: center;
  background-color: rgb(18, 1, 30);
  margin-bottom: 40px;
  border: 2px solid #4b1658;
  border-radius: 8px;
}
.skill-box h3{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 28px;
}
.skill-box p{
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 20px;
}
.skill-box img{
 width: 100px;
 margin: auto;
 margin-top:0;
 margin-bottom: 5px;
 
}
#resume{
  margin-bottom: 80px;
}
#resume p{
  text-align: center;
}
#contact{
  margin-bottom:80px;
}
#contact form{
  width:45%;
  margin-left: auto;
  margin-right: auto;
 font-size: 24px;
 display: flex;
  flex-direction: column; 
  align-items: start;
  justify-content: start;
}
#contact form input{
  width: 100%;
  height: 25px;
  font-size: 20px;
}
#contact form label{
  padding-left: 5px;
  line-height: 0.25;
}
#contact form textarea{
  width: 100%;
  height: 125px;
  font-size: 20px;
}
#contact form #submit{
  font-size: 20px;
  width:20% ;
  align-self: end;
}